@import "../node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

html {
  --blue: #05c7f2;
  --orange: #f29b30;
  --purple: #763df2;
  --purple-light: #a37ef2;
  --yellow: #f2cd5e;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}

body *::selection {
  background: var(--yellow);
}
