.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 50px 10px;
}

.container a {
  font-size: 18px;
  text-decoration: none;
}

.leftContainer {
  display: flex;
  gap: 80px;
}

.leftContainer a {
  color: black;
  font-weight: 500;
  position: relative;
}

.leftContainer a:hover::before {
  border-bottom: 3px solid black;
  bottom: -5px;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}

.resumeButton {
  background: black;
  border-radius: 5px;
  color: white;
  padding: 10px;
}

/* Tablet */
@media (max-width: 768px) {
  .leftContainer {
    gap: 45px;
  }
}

/* Mobile */
@media (max-width: 425px) {
  .container a {
    font-size: 16px;
  }

  .leftContainer {
    gap: 20px;
  }

  .resumeButton {
    background: none;
    color: var(--purple);
    font-weight: 500;
  }
}

/* Mobile (Small) */
@media (max-width: 320px) {
  .container a {
    font-size: 14px;
  }

  .leftContainer {
    gap: 15px;
  }
}
