.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.heading {
  font-size: 40px;
  font-weight: 400;
  margin: 0 0 10px;
}

.iconsContainer {
  display: flex;
  gap: 15px;
  padding-left: 5px;
}

.icon {
  color: rgba(0, 0, 0, 0.7);
}

.icon:hover {
  color: black;
}

.main {
  margin: 50px 0 75px;
}

.main p {
  line-height: 1.65;
}

.main p a {
  color: var(--purple-light);
  font-weight: 500;
  transition: 200ms;
}

.main p a:hover {
  color: var(--purple);
}

.main b {
  font-weight: 500;
}

.main h2 {
  font-weight: 400;
  margin: 15px 0;
}

/* Tablet */
@media (max-width: 768px) {
  .header canvas {
    height: 210px;
    width: 210px;
  }
}

/* Mobile */
@media (max-width: 425px) {
  .header {
    align-items: flex-start;
    flex-direction: column;
  }

  .header canvas {
    height: 150px;
    margin: 0 auto;
    width: 150px;
  }

  .heading {
    font-size: 36px;
    margin: 0 0 20px;
  }

  .iconsContainer {
    display: none;
  }
}
